.login-fondo {
  background-image: url('./assets/images/fondo.jpg');
  background-size: cover;
}

.login {
  background-color: rgb(255, 255, 255);
  box-shadow: 0 0 40px black;
}

.cards {
  box-shadow: 0 0 10px black;
}

.boton, .sidebar {
  background-color: rgb(0, 255, 166);
}

.boton:hover, .navBar, .graphic {
  background-color: rgb(0, 255, 225);
}

.lista li a:hover {
  background-color: rgb(20, 180, 20);
}